[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jonathan Hollander
	email = jon@jhollander.me
[rerere]
	enabled = true
[core]
	untrackedcache = true

[includeIf "gitdir:~/Xentrans/"]
	path = ~/Xentrans/.gitconfig

[alias]
	graph = log --all --online --graph --decorate
