setxkbmap gb
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
numlockx &
exec ~/.i3/i3lock-custom-startup &
xset -dpms s off
pulseaudio --start

exec i3 &

exec feh --bg-fill ~/bg --no-xinerama &
exec compton --config ~/.i3/compton.conf -b &
exec unclutter -root -visible &
exec dunst -config ~/.i3/dunstrc &
exec udiskie --tray &
exec dropbox &
exec lxsession &
exec yabar -c ~/.i3/yabar.conf
#exec compiz --replace ccp
